@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500&family=Roboto&display=swap");
@import url("components/container.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body{
	font-family: 'Lora', serif;
	font-size: 18px;
	margin: 0px;
	background-color: #efece7;
	line-height: 1.6;
}

h1, h2, h3{
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	letter-spacing: 1px;
}

h2.centered {
	text-align: center;
}

a {
	text-decoration: none;
	margin-bottom: 1em;
	transition:color 0.3s;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.social-links a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
}

.social-links a:hover {
    color: #e63946;
}

form {
    max-width: 500px;
    margin: 20px auto;
}

form input, form textarea {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 15px;
}

form button {
    cursor: pointer;
    background-color: #e63946;
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #d62828;
}

.card .btn-red {
    margin-top: 10px;
    display: inline-block;
    background-color: red;
    color: #fff;
    padding: 10px 15px;
    text-align: center;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.card .btn-red:hover {
    background-color: #cc0000;
}
